In [1]:
import re

In [2]:
text= '''
Booking Confirmed!
Your ticket has been successfully booked.

Booking ID: BK98234176
Name: Rahul Sharma
Travel Date: 18 Feb 2026
Route: New Delhi → Mumbai
Seat: A12 (Coach S2)

Contact: +91 98765 43210 | rahul.sharma@gmail.com

Amount Paid: ₹2,450 (UPI)
Txn ID: TXN564839201

Have a safe journey!
'''

In [3]:
confirmation= re.search("Confirmed", text)

In [4]:
booking_number= re.findall("Booking ID:\s*([A-Za-z0-9]+)", text)
booking_number

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-742130023.py:1: SyntaxWarning: invalid escape sequence '\s'
  booking_number= re.findall("Booking ID:\s*([A-Za-z0-9]+)", text)

['BK98234176']

In [5]:
name= re.findall("Name:\s*([A-Za-z]+\s*[A-za-z]+)", text)
name

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-2737632015.py:1: SyntaxWarning: invalid escape sequence '\s'
  name= re.findall("Name:\s*([A-Za-z]+\s*[A-za-z]+)", text)

['Rahul Sharma']

In [6]:
travel_date= re.findall('Travel\s*Date\s*:\s*([0-9]+\s*[A-Za-z]+\s*[0-9]+)', text)
travel_date

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-693599835.py:1: SyntaxWarning: invalid escape sequence '\s'
  travel_date= re.findall('Travel\s*Date\s*:\s*([0-9]+\s*[A-Za-z]+\s*[0-9]+)', text)

['18 Feb 2026']

In [7]:
route= re.findall('Route:\s*[A-za-z]+\s*([A-Za-z]+\s*→\s*[A-Za-z]+)', text)
route

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-3622417157.py:1: SyntaxWarning: invalid escape sequence '\s'
  route= re.findall('Route:\s*[A-za-z]+\s*([A-Za-z]+\s*→\s*[A-Za-z]+)', text)

['Delhi → Mumbai']

In [8]:
seat= re.findall('Seat:\s*([A-Z0-9]+\s*\([A-Za-z]+\s*[A-Z0-9]+\))', text)
seat

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-1437388616.py:1: SyntaxWarning: invalid escape sequence '\s'
  seat= re.findall('Seat:\s*([A-Z0-9]+\s*\([A-Za-z]+\s*[A-Z0-9]+\))', text)

['A12 (Coach S2)']

In [9]:
phno= re.findall('(\+\d{2}\s*\d{5}\s*\d{5})', text)
phno

<>:1: SyntaxWarning: invalid escape sequence '\+'
<>:1: SyntaxWarning: invalid escape sequence '\+'
/tmp/ipython-input-2575670337.py:1: SyntaxWarning: invalid escape sequence '\+'
  phno= re.findall('(\+\d{2}\s*\d{5}\s*\d{5})', text)

['+91 98765 43210']

In [12]:
print(f"Confirmation Status: {confirmation[0]}")
print(f"Booking Number: {booking_number[0]}")
print(f"Name: {name[0]}")
print(f"Travel Date: {travel_date[0]}")
print(f"Route: {route[0]}")
print(f"Seat: {seat[0]}")
print(f"Phone Number: {phno[0]}")

Confirmation Status: Confirmed
Booking Number: BK98234176
Name: Rahul Sharma
Travel Date: 18 Feb 2026
Route: Delhi → Mumbai
Seat: A12 (Coach S2)
Phone Number: +91 98765 43210